<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>856226493386-q6mqhunfgj6cvauelgcge2mvg11ku83i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856226493386-q6mqhunfgj6cvauelgcge2mvg11ku83i</string>
	<key>API_KEY</key>
	<string>AIzaSyAaJvHJqZTdvGXFy1rCiDjhSRVYN1bLHGc</string>
	<key>GCM_SENDER_ID</key>
	<string>856226493386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esprit.whynot</string>
	<key>PROJECT_ID</key>
	<string>whynotfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>whynotfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856226493386:ios:24f3b4f24f5509bf</string>
	<key>DATABASE_URL</key>
	<string>https://whynotfirebase.firebaseio.com</string>
</dict>
</plist>